.u-section-1 .u-sheet-1 {
  min-height: 500px;
}.u-section-2 .u-sheet-1 {
  min-height: 498px;
}

.u-section-2 .u-text-1 {
  margin: 13px 645px 0 301px;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 545px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 435px;
    margin-left: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 345px;
    margin-left: 173px;
  }

  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 146px;
    margin-left: 109px;
  }

  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-form-group-1 {
    width: 100%;
  }

  .u-section-2 .u-form-group-2 {
    width: 100%;
  }

  .u-section-2 .u-form-group-3 {
    width: 100%;
  }

  .u-section-2 .u-form-group-4 {
    width: 100%;
  }
}